.metadata*
#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
/.metadata/.log
/.metadata/.plugins/org.eclipse.core.resources/.history/1e/c0cdceaee99e001c129b948298b5ee26
/.metadata/.plugins/org.eclipse.core.resources/.history/24/20f4c5aee99e001c129b948298b5ee26
/.metadata/.plugins/org.eclipse.core.resources/.history/33/60cc0826db9e001c151694d5a1d09516
/.metadata/.plugins/org.eclipse.core.resources/.history/42/30c6dcb0e99e001c129b948298b5ee26
/.metadata/.plugins/org.eclipse.core.resources/.history/46/6092eddfe99e001c129b948298b5ee26
/.metadata/.plugins/org.eclipse.core.resources/.history/48/e09c3161ea9e001c129b948298b5ee26
/.metadata/.plugins/org.eclipse.core.resources/.history/51/a052f261db9e001c151694d5a1d09516
/.metadata/.plugins/org.eclipse.core.resources/.history/69/c0dd0db1e89e001c129b948298b5ee26
/.metadata/.plugins/org.eclipse.core.resources/.history/71/b0f9f96a9a9f001c1d4bc17fded30842
/.metadata/.plugins/org.eclipse.core.resources/.history/9d/a0e94eda5b9e001c1a1198221d990af5
/.metadata/.plugins/org.eclipse.core.resources/.history/a3/e0cc569ee99e001c129b948298b5ee26
/.metadata/.plugins/org.eclipse.core.resources/.history/d4/80fae8e6ff9e001c129b948298b5ee26
/.metadata/.plugins/org.eclipse.core.resources/.history/ed/608ee4b0e99e001c129b948298b5ee26
/.metadata/.plugins/org.eclipse.core.resources/.history/fc/e0e4e9e6ff9e001c129b948298b5ee26
/.metadata/.plugins/org.eclipse.core.resources/.projects/Low-Code-Quality/.indexes/e4/c3/history.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/Low-Code-Quality/.indexes/f9/history.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/Low-Code-Quality/.markers
/.metadata/.plugins/org.eclipse.core.resources/.projects/Low-Code-Quality/org.eclipse.jdt.core/state.dat
/.metadata/.plugins/org.eclipse.core.resources/.projects/org.eclipse.ocl.examples.project.royalandloyal/.indexes/history.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/org.eclipse.ocl.examples.project.royalandloyal/.markers
/.metadata/.plugins/org.eclipse.core.resources/.projects/org.eclipse.ocl.examples.project.royalandloyal/org.eclipse.jdt.core/state.dat
/.metadata/.plugins/org.eclipse.core.resources/.projects/Test2.edit/.markers
/.metadata/.plugins/org.eclipse.core.resources/.projects/Test2.edit/org.eclipse.jdt.core/state.dat
/.metadata/.plugins/org.eclipse.core.resources/.projects/Test2.editor/.markers
/.metadata/.plugins/org.eclipse.core.resources/.projects/Test2.editor/org.eclipse.jdt.core/state.dat
/.metadata/.plugins/org.eclipse.core.resources/.projects/Test2.tests/.markers
/.metadata/.plugins/org.eclipse.core.resources/.projects/Test2.tests/org.eclipse.jdt.core/state.dat
/.metadata/.plugins/org.eclipse.core.resources/.projects/Test2/org.eclipse.jdt.core/state.dat
/.metadata/.plugins/org.eclipse.core.resources/.root/28.tree
/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.debug.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
/.metadata/.plugins/org.eclipse.debug.core/.launches/App (2).launch
/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
/.metadata/.plugins/org.eclipse.jdt.core/1865797976.index
/.metadata/.plugins/org.eclipse.jdt.core/4106422605.index
/.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
/.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
/.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
/.metadata/.plugins/org.eclipse.ltk.ui.refactoring/dialog_settings.xml
/.metadata/.plugins/org.eclipse.pde.core/.cache/clean-cache.properties
/.metadata/.plugins/org.eclipse.pde.core/.extensions/.manager/.tmp15694158067668520007.instance
/.metadata/.plugins/org.eclipse.pde.core/SavedExternalPluginList.txt
/.metadata/.plugins/org.eclipse.ui.workbench.texteditor/dialog_settings.xml
/.metadata/version.ini
