<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated BspKnotensystem -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="BspKnotensystem.presentation.BspKnotensystemModelWizardID"
            name="%_UI_BspKnotensystemModelWizard_label"
            class="BspKnotensystem.presentation.BspKnotensystemModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/BspKnotensystemModelFile.gif">
         <description>%_UI_BspKnotensystemModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated BspKnotensystem -->
      <editor
            id="BspKnotensystem.presentation.BspKnotensystemEditorID"
            name="%_UI_BspKnotensystemEditor_label"
            icon="icons/full/obj16/BspKnotensystemModelFile.gif"
            extensions="bspknotensystem"
            class="BspKnotensystem.presentation.BspKnotensystemEditor"
            contributorClass="BspKnotensystem.presentation.BspKnotensystemActionBarContributor">
      </editor>
   </extension>

</plugin>
